databases:
  - name: pm-questionnaire-db
    plan: starter

services:
  - type: web
    name: pm-questionnaire
    env: node
    plan: starter
    buildCommand: npm install && npm run build
    startCommand: npm run start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: pm-questionnaire-db
          property: connectionString
      - key: GEMINI_API_KEY
        sync: false
      - key: HASH_SECRET
        generateValue: true
